{% extends 'base.html.twig' %}

{% block title %}
    {{title}}
{% endblock %}

{% block main %}
    <h2>
        {{ title }}
    </h2>
    <h3><a href="{{ path('app_newstagiaire') }}">Créer</a></h3>
    <table>
        <tr>
            <th>Nom
            {% if ( trinom == 'desc' ) %}
                <a href="{{ path('app_stagiaires') }}?nom={{ nom }}&triprenom={{ triprenom }}&trinom=asc&trinaissance={{ trinaissance }}">▼</a>
            {% else %}
                <a href="{{ path('app_stagiaires') }}?nom={{ nom }}&triprenom={{ triprenom }}&trinom=desc&trinaissance={{ trinaissance }}">▲</a>
            {% endif %}
            </th>
            <th>Préom
            {% if ( triprenom == 'desc' ) %}
                <a href="{{ path('app_stagiaires') }}?prenom={{ prenom }}&triprenom=asc&trinom={{ trinom }}&trinaissance={{ trinaissance }}">▼</a>
            {% else %}
                <a href="{{ path('app_stagiaires') }}?prenom={{ prenom }}&triprenom=desc&trinom={{ trinom }}&trinaissance={{ trinaissance }}">▲</a>
            {% endif %}
            </th>
            <th>Date Naissance
            {% if ( trinaissance == 'desc' ) %}
                <a href="{{ path('app_stagiaires') }}?prenom={{ prenom }}&triprenom={{ triprenom }}&trinom={{ trinom }}&trinaissance=asc">▼</a>
            {% else %}
                <a href="{{ path('app_stagiaires') }}?prenom={{ prenom }}&triprenom={{ triprenom }}&trinom={{ trinom }}&trinaissance=desc">▲</a>
            {% endif %}
            </th>
            <th>Voir</th>
        </tr>
    {% for item in stagiaires %}
        <tr>
            <td>{{ item.nom }}</td>
            <td>{{ item.prenom }}</td>
            <td>
                {% if item.datenaissance == null %}
                    Non renseignée
                {% else %}
                    {{ item.datenaissance|format_datetime() }}
                {% endif %}
            </td>
            <th><a href=" {{ path('app_show_stagiaire' , {'id' : item.id })}}">Voir</a></th>
        </tr>
    {% else %}
        Aucun stagiaire n'est inscrit ! 
    {% endfor %}
    </table>
    <form method="GET">
        <label for="nom">Nom</label>
        <input type='text' id="nom" name='nom' placeholder="recherche par nom" value='{{ nom }}'>
        <label for="prenom">Prenom</label>
        <input type='text' id="prenom" name='prenom' placeholder="recherche par prénom" value='{{ prenom }}'>
        <button type="submit" name="submit" value="rechercher">Rechercher</button>
    </form>
{% endblock %}