<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <nav>
            {% block nav %}
            <a href="{{ path('app_index') }}">Acceuil</a><br>
            <a href="{{ path('app_stagiaires') }}">Liste des stagiaires</a>
            <a href="{{ path('app_list_cours') }}">Liste des cours</a>

            {% endblock %}
        </nav>

        <main>
            {% block main %}
            {% endblock %}
        </main>

        <footer>
            {% block footer %}

            <a href="{{ path('app_mentionslegales') }}">mentions legales </a><br>
            <a href="{{ path('app_test') }}">Fake page </a><br>
            <a href="{{ path('app_download') }}"> Téléchargement </a><br>
            <a href="{{ path('app_dynamique', {'name' : 'toto' , 'surname' : 'tutu'}) }}"> Paramètres dynamiques </a><br>
            <a href="{{ path('app_dynamique') }}"> Paramètres dynamiques non renseigné</a><br>

            {% endblock %}
        </footer>
    </body>
</html>
