{% extends 'base.html.twig' %}

{% block title %}
    {{title}}
{% endblock %}

{% block main %}
    <h2>
        {{ title }}
    </h2>
    <h3><a href="{{ path('app_new_cours') }}">Créer un cours</a></h3>
    <table>
        <tr>
            <th>Intitulé</th>
            <th>Modifier</th>
            <th>Ajouter participanz</th>
        </tr>
    {% for item in cours %}
        <tr>
            <td>{{ item.nom }}</td>
            <td><a href=" {{ path('app_update_cours' , {'id' : item.id })}}">Modifier</a></td>
            <td><a href=" {{ path('app_add_stagiaire_cours' , {'id' : item.id })}}">Ajouter</a></td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">Aucun cours n'est enregistré !</td>
        </tr>
       
    {% endfor %}
    </table>
    <form method="GET">
        <input type='text' id="nom" name='nom' placeholder="recherche par nom" value='{{ nom }}'>
        <button type="submit" name="submit" value="rechercher">Rechercher</button>
    </form>
{% endblock %}