{% extends 'base.html.twig' %}

{% block title %}
    {{title}}
{% endblock %}

{% block main %}
    <h2>
        {{ title }}
    </h2>

    <h3>
        {{ cours.nom }}
    </h3>
    <hr>
    <h4>Participant.es</h4>
    <ul>
        {% for personne in cours.stagiaire %}
            <li>{{ personne.prenom }} {{ personne.nom }}</li>
        {% else %}
            <p>Il n'y a aucun participant.e !</p>
        {% endfor %}
    </ul>
{% endblock %}